/* -----------------REGLES GENERALES----------------- */

body{
    background-color: #1C2A39;
    color: #ecf0f1;
}

.page{
    margin-top: 50px;
}

.article{
    margin-bottom: 30px;
}

.articleHead h5{
    padding: 10px;
    margin: 0;
    text-transform: uppercase;
    font-weight: bold;
}

.articleCorps{
    margin: 0;
    padding: 5px;
    background-color: #2C3E50;
}

.right_float{
    float: right;
}

.elementColorBase{
    background-color: #2ecc71;
    border-bottom: 4px solid #27AE60;
    color: #ecf0f1;
}

.elementFontBase{
    color: #ecf0f1;
    text-transform: uppercase;
    transition: all 0.5s;
}

.listeNom{
    margin: 0;
    padding: 0;
}

.listeNom li{
    text-decoration: none;
    border: 2px solid #2ecc71;
    padding: 5px;
    margin: 5px;
    width: 130px;
    border-radius: 2px;
    list-style: none;
    font-weight: bold;
}

.listeLien{
    margin: 0;
    padding: 0;
}

.listeLien li{
    text-decoration: none;
    padding: 5px;
    margin: 5px;
    border-radius: 2px;
    list-style: none;
    font-weight: bold;
    transition: all 0.5s;
}

.listeLien li:hover{
    background: rgba(255,255,255,0.1);
    transition: all 0.5s;
}

.listeLien a{
    color: white;
    padding: 5px;
}

.listeLien a:hover{
    color: white;
    text-decoration: none;
}

/* -----------------NAV----------------- */

.nav_bar{
    padding: 0;
    margin: 0;
    text-align: left;
    overflow: hidden;
}

.nav_bar li{
    display: inline-block;
    position: relative;
    height: 40px;
}

.nav_bar li a{
    display:inline-block;
    line-height:40px;
    width:100%;
    height:100%;
    padding: 0 10px;
    font-weight: bolder;
}

.nav_bar li a:hover{
    background: #27ae60;
    color: #ecf0f1;;
    text-decoration: none;
}

.nav_bar li:last-child{
    display: none;
}

#pointer{
    display: none;
}

.paginate {
	margin: 0 2px;
}

.animMenuActive{
    height: 40px;
    animation: heightAnim1 1s forwards;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

.animMenuInactive{
    height: 40px;
    animation: heightAnim2 1s forwards;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

@keyframes heightAnim1 {
    0%   {height: 40px;}
    100% {height: 200px;}
}

@keyframes heightAnim2 {
    0%   {height: 200px;}
    100% {height: 40px;}
}

@media only screen and (max-width:800px){

    #pointer{
        position: absolute;
        display: inline-block;
        padding-right: 20px;
        right: 0;
        top: 0;
        cursor: pointer;
    }

    #arrow{

    }

    .responsive_active{
        height: 40px;
    }

    .responsive_active li{
        display: block;
    }

    .responsive_active .right_float{
        float: none;
    }

    .nav_bar li a:hover{
        background: none;
        color: #ecf0f1;;
        text-decoration: none;
    }
}
